In [2]:
import pandas as pd
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [39]:
df = pd.read_csv('/content/gdrive/My Drive/Datasets/apy.csv')
df

                         State_Name District_Name  ...      Area Production
0       Andaman and Nicobar Islands      NICOBARS  ...    1254.0     2000.0
1       Andaman and Nicobar Islands      NICOBARS  ...       2.0        1.0
2       Andaman and Nicobar Islands      NICOBARS  ...     102.0      321.0
3       Andaman and Nicobar Islands      NICOBARS  ...     176.0      641.0
4       Andaman and Nicobar Islands      NICOBARS  ...     720.0      165.0
...                             ...           ...  ...       ...        ...
246086                  West Bengal       PURULIA  ...     306.0      801.0
246087                  West Bengal       PURULIA  ...     627.0      463.0
246088                  West Bengal       PURULIA  ...     324.0    16250.0
246089                  West Bengal       PURULIA  ...  279151.0   597899.0
246090                  West Bengal       PURULIA  ...     175.0       88.0

[246091 rows x 7 columns]

In [40]:
# Checking null value of a column
null_val = pd.isnull(df['Production'])
df[null_val]

                         State_Name   District_Name  ...     Area Production
46      Andaman and Nicobar Islands        NICOBARS  ...   795.67        NaN
51      Andaman and Nicobar Islands        NICOBARS  ...    17.00        NaN
623                  Andhra Pradesh       ANANTAPUR  ...  1000.00        NaN
630                  Andhra Pradesh       ANANTAPUR  ...  1000.00        NaN
698                  Andhra Pradesh       ANANTAPUR  ...     8.00        NaN
...                             ...             ...  ...      ...        ...
244128                  West Bengal  MEDINIPUR WEST  ...     2.00        NaN
244581                  West Bengal     MURSHIDABAD  ...   200.00        NaN
245606                  West Bengal         PURULIA  ...   427.00        NaN
245644                  West Bengal         PURULIA  ...   522.00        NaN
245865                  West Bengal         PURULIA  ...     2.00        NaN

[3730 rows x 7 columns]

In [41]:
# Checking duplicated value in the dataframe
df[df.duplicated() == True]

Empty DataFrame
Columns: [State_Name, District_Name, Crop_Year, Season, Crop, Area, Production]
Index: []

In [42]:
# Dropping null values
df = df.dropna()
df

                         State_Name District_Name  ...      Area Production
0       Andaman and Nicobar Islands      NICOBARS  ...    1254.0     2000.0
1       Andaman and Nicobar Islands      NICOBARS  ...       2.0        1.0
2       Andaman and Nicobar Islands      NICOBARS  ...     102.0      321.0
3       Andaman and Nicobar Islands      NICOBARS  ...     176.0      641.0
4       Andaman and Nicobar Islands      NICOBARS  ...     720.0      165.0
...                             ...           ...  ...       ...        ...
246086                  West Bengal       PURULIA  ...     306.0      801.0
246087                  West Bengal       PURULIA  ...     627.0      463.0
246088                  West Bengal       PURULIA  ...     324.0    16250.0
246089                  West Bengal       PURULIA  ...  279151.0   597899.0
246090                  West Bengal       PURULIA  ...     175.0       88.0

[242361 rows x 7 columns]

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 242361 entries, 0 to 246090
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   State_Name     242361 non-null  object
 1   District_Name  242361 non-null  object
 2   Crop_Year      242361 non-null  int64
 3   Season         242361 non-null  object
 4   Crop           242361 non-null  object
 5   Area           242361 non-null  float64
 6   Production     242361 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 14.8+ MB

In [35]:
df['Crop'].unique()

array(['Arecanut', 'Other Kharif pulses', 'Rice', 'Banana', 'Cashewnut',
       'Coconut ', 'Dry ginger', 'Sugarcane', 'Sweet potato', 'Tapioca',
       'Black pepper', 'Dry chillies', 'other oilseeds', 'Turmeric',
       'Maize', 'Moong(Green Gram)', 'Urad', 'Arhar/Tur', 'Groundnut',
       'Sunflower', 'Bajra', 'Castor seed', 'Cotton(lint)', 'Horse-gram',
       'Jowar', 'Korra', 'Ragi', 'Tobacco', 'Gram', 'Wheat', 'Masoor',
       'Sesamum', 'Linseed', 'Safflower', 'Onion', 'other misc. pulses',
       'Samai', 'Small millets', 'Coriander', 'Potato',
       'Other  Rabi pulses', 'Soyabean', 'Beans & Mutter(Vegetable)',
       'Bhindi', 'Brinjal', 'Citrus Fruit', 'Cucumber', 'Grapes', 'Mango',
       'Orange', 'other fibres', 'Other Fresh Fruits', 'Other Vegetables',
       'Papaya', 'Pome Fruit', 'Tomato', 'Mesta', 'Cowpea(Lobia)',
       'Lemon', 'Pome Granet', 'Sapota', 'Cabbage', 'Rapeseed &Mustard',
       'Peas  (vegetable)', 'Niger seed', 'Bottle Gourd', 'Varagu',
       'Garlic', 'Ginger', 'Oilseeds total', 'Pulses total', 'Jute',
       'Peas & beans (Pulses)', 'Blackgram', 'Paddy', 'Pineapple',
       'Barley', 'Sannhamp', 'Khesari', 'Guar seed', 'Moth',
       'Other Cereals & Millets', 'Cond-spcs other', 'Turnip', 'Carrot',
       'Redish', 'Arcanut (Processed)', 'Atcanut (Raw)',
       'Cashewnut Processed', 'Cashewnut Raw', 'Cardamom', 'Rubber',
       'Bitter Gourd', 'Drum Stick', 'Jack Fruit', 'Snak Guard', 'Tea',
       'Coffee', 'Cauliflower', 'Other Citrus Fruit', 'Water Melon',
       'Total foodgrain', 'Kapas', 'Colocosia', 'Lentil', 'Bean',
       'Jobster', 'Perilla', 'Rajmash Kholar', 'Ricebean (nagadal)',
       'Ash Gourd', 'Beet Root', 'Lab-Lab', 'Ribed Guard', 'Yam',
       'Pump Kin', 'Apple', 'Peach', 'Pear', 'Plums', 'Litchi', 'Ber',
       'Other Dry Fruit', 'Jute & mesta'], dtype=object)

In [36]:
print(len(df['Crop'].unique()))

124

In [43]:
# Many crops are wrongly named
df['Crop'] = df['Crop'].replace(['Coconut ','other oilseeds', 'Moong(Green Gram)','Cotton(lint)','Horse-gram','other misc. pulses',
                                 'Other  Rabi pulses','Beans & Mutter(Vegetable)','Citrus Fruit','other fibres','Other Fresh Fruits',
                                 'Other Vegetables',
                                 'Pome Fruit','Pome Granet','Rapeseed &Mustard','Peas  (vegetable)','Bottle Gourd','Peas & beans (Pulses)',
                                 'Blackgram','Sannhamp','Moth','Other Cereals & Millets','Redish','Arcanut (Processed)','Atcanut (Raw)',
                                 'Cashewnut Processed','Cashewnut Raw','Bitter Gourd','Drum Stick','Jack Fruit','Snak Guard', 'Other Citrus Fruit',
                                 'Water Melon','Colocosia','Jobster','Rajmash Kholar','Ricebean (nagadal)','Ash Gourd', 'Beet Root','Ribed Guard',
                                 'Pump Kin','Other Dry Fruit','Jute & mesta'], 
                                ['Coconut', 'Other oilseeds', 'Moong(Green gram)','Cotton(Lint)', 'Horse gram', 'Other misc. pulses',
                                 'Other rabi pulses', 'Beans & Matar(Vegetable)', 'Citrus fruit', 'Other fibres', 'Other fresh fruits',
                                 'Other vegetables', 'Pome fruit', 'Pomegranate', 'Rapeseed & Mustard', 'Peas(Vegetable)', 'Bottle gourd',
                                 'Peas & Beans(Pulses)', 'Black gram', 'Sunn hemp', 'Moth bean', 'Other cereals & Millets', 'Radish',
                                 'Arecanut(Processed)', 'Arecanut', 'Cashewnut(Processed)', 'Cashewnut', 'Bitter gourd', 'Drumstick', 'Jackfruit',
                                 'Snake gourd', 'Other citrus fruits', 'Watermelon', 'Colocasia', 'Jobs tears', 'Rajmas kholar',
                                 'Ricebean(Nagadal)', 'Ash gourd', 'Beetroot', 'Ribbed gourd', 'Pumpkin', 'Other dry fruits', 'Jute & Mesta'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [44]:
df['Crop'].unique()

array(['Arecanut', 'Other Kharif pulses', 'Rice', 'Banana', 'Cashewnut',
       'Coconut', 'Dry ginger', 'Sugarcane', 'Sweet potato', 'Tapioca',
       'Black pepper', 'Dry chillies', 'Other oilseeds', 'Turmeric',
       'Maize', 'Moong(Green gram)', 'Urad', 'Arhar/Tur', 'Groundnut',
       'Sunflower', 'Bajra', 'Castor seed', 'Cotton(Lint)', 'Horse gram',
       'Jowar', 'Korra', 'Ragi', 'Tobacco', 'Gram', 'Wheat', 'Masoor',
       'Sesamum', 'Linseed', 'Safflower', 'Onion', 'Other misc. pulses',
       'Samai', 'Small millets', 'Coriander', 'Potato',
       'Other rabi pulses', 'Soyabean', 'Beans & Matar(Vegetable)',
       'Bhindi', 'Brinjal', 'Citrus fruit', 'Cucumber', 'Grapes', 'Mango',
       'Orange', 'Other fibres', 'Other fresh fruits', 'Other vegetables',
       'Papaya', 'Pome fruit', 'Tomato', 'Mesta', 'Cowpea(Lobia)',
       'Lemon', 'Pomegranate', 'Sapota', 'Cabbage', 'Rapeseed & Mustard',
       'Peas(Vegetable)', 'Niger seed', 'Bottle gourd', 'Varagu',
       'Garlic', 'Ginger', 'Oilseeds total', 'Pulses total', 'Jute',
       'Peas & Beans(Pulses)', 'Black gram', 'Paddy', 'Pineapple',
       'Barley', 'Sunn hemp', 'Khesari', 'Guar seed', 'Moth bean',
       'Other cereals & Millets', 'Cond-spcs other', 'Turnip', 'Carrot',
       'Radish', 'Arecanut(Processed)', 'Cashewnut(Processed)',
       'Cardamom', 'Rubber', 'Bitter gourd', 'Drumstick', 'Jackfruit',
       'Snake gourd', 'Tea', 'Coffee', 'Cauliflower',
       'Other citrus fruits', 'Watermelon', 'Total foodgrain', 'Kapas',
       'Colocasia', 'Lentil', 'Bean', 'Jobs tears', 'Perilla',
       'Rajmas kholar', 'Ricebean(Nagadal)', 'Ash gourd', 'Beetroot',
       'Lab-Lab', 'Ribbed gourd', 'Yam', 'Pumpkin', 'Apple', 'Peach',
       'Pear', 'Plums', 'Litchi', 'Ber', 'Other dry fruits',
       'Jute & Mesta'], dtype=object)

In [45]:
print(len(df['Crop'].unique()))

122

In [47]:
# Crop processing doesn't need to be in the production data
df = df.loc[df['Crop'] != 'Arecanut(Processed)']
df.shape

(242341, 7)

In [48]:
df = df.loc[df['Crop'] != 'Cashewnut(Processed)']
df.shape

(242320, 7)

In [59]:
df2 = df.filter(['Crop', 'Production'])
df2

                       Crop  Production
0                  Arecanut      2000.0
1       Other Kharif pulses         1.0
2                      Rice       321.0
3                    Banana       641.0
4                 Cashewnut       165.0
...                     ...         ...
246086                 Rice       801.0
246087              Sesamum       463.0
246088            Sugarcane     16250.0
246089                 Rice    597899.0
246090              Sesamum        88.0

[242320 rows x 2 columns]

In [62]:
avg = df2.groupby('Crop').mean()
avg

               Production
Crop
Apple            0.000000
Arecanut     13654.583864
Arhar/Tur     5261.020643
Ash gourd        0.000000
Bajra        24108.755531
...                   ...
Urad          2307.980501
Varagu         856.793103
Watermelon       0.000000
Wheat       169183.251688
Yam              0.000000

[120 rows x 1 columns]

In [63]:
avg[avg['Production'] == 0]
#We don't have any data about the following crops, 
#Need to be dropped from main dataframe

                     Production
Crop
Apple                       0.0
Ash gourd                   0.0
Beetroot                    0.0
Ber                         0.0
Cucumber                    0.0
Lab-Lab                     0.0
Litchi                      0.0
Other citrus fruits         0.0
Other dry fruits            0.0
Other fibres                0.0
Peach                       0.0
Pear                        0.0
Peas(Vegetable)             0.0
Plums                       0.0
Pumpkin                     0.0
Ribbed gourd                0.0
Snake gourd                 0.0
Watermelon                  0.0
Yam                         0.0

In [86]:
df.shape

(242320, 7)

In [105]:
# Dropping crops one by one (where the production data is missing)
df = df[df.Crop != 'Yam']
df.shape

(241699, 7)

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 241699 entries, 0 to 246090
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   State_Name     241699 non-null  object
 1   District_Name  241699 non-null  object
 2   Crop_Year      241699 non-null  int64
 3   Season         241699 non-null  object
 4   Crop           241699 non-null  object
 5   Area           241699 non-null  float64
 6   Production     241699 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 14.8+ MB

In [107]:
df['State_Name'].unique()

array(['Andaman and Nicobar Islands', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Dadra and Nagar Haveli', 'Goa', 'Gujarat',
       'Haryana', 'Himachal Pradesh', 'Jammu and Kashmir ', 'Jharkhand',
       'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur',
       'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry',
       'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telangana ',
       'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal'],
      dtype=object)

In [108]:
df['Season'].unique()
# Unnecessary gaps here

array(['Kharif     ', 'Whole Year ', 'Autumn     ', 'Rabi       ',
       'Summer     ', 'Winter     '], dtype=object)

In [109]:
# Kharif and Autumn are equivalent
# Rabi and Winter are equivalent
df['Season'] = df['Season'].replace(['Kharif     ', 'Whole Year ', 'Autumn     ', 'Rabi       ', 'Summer     ', 'Winter     '], 
                                    ['Autumn', 'Whole Year', 'Autumn', 'Winter', 'Summer', 'Winter'])

In [110]:
df['Season'].unique()

array(['Autumn', 'Whole Year', 'Winter', 'Summer'], dtype=object)

In [114]:
df = df.reset_index()

In [120]:
df = df.drop(['index'], axis = 1)
df

                         State_Name District_Name  ...      Area Production
0       Andaman and Nicobar Islands      NICOBARS  ...    1254.0     2000.0
1       Andaman and Nicobar Islands      NICOBARS  ...       2.0        1.0
2       Andaman and Nicobar Islands      NICOBARS  ...     102.0      321.0
3       Andaman and Nicobar Islands      NICOBARS  ...     176.0      641.0
4       Andaman and Nicobar Islands      NICOBARS  ...     720.0      165.0
...                             ...           ...  ...       ...        ...
241694                  West Bengal       PURULIA  ...     306.0      801.0
241695                  West Bengal       PURULIA  ...     627.0      463.0
241696                  West Bengal       PURULIA  ...     324.0    16250.0
241697                  West Bengal       PURULIA  ...  279151.0   597899.0
241698                  West Bengal       PURULIA  ...     175.0       88.0

[241699 rows x 7 columns]

In [122]:
# Saving filtered data to a specific location
df.to_csv(r'/content/gdrive/My Drive/Datasets/apy_filtered.csv')